<%= form_with(model: company, local: true) do |f| %>
  <% if company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_field :name, placeholder: 'Name' %>
  <%= f.text_field :number, placeholder: 'Number' %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
